<div id="modular-merchandise" class="modular-wrapper modular-wrapper--merchandise">
    <section class="container">
        <h2>{{ page.title }}</h2>
        <div class="merchandise-content">
            <div class="merchandise-content__product">
                <div class="merchandise-content__product-cover">
                    <a rel="noopener" target="_blank" href="https://www.amazon.de/He-jebore-M%C3%BCller/dp/B081JY1X3Q/ref=sr_1_29?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1FIWS0ZWKVWBU&keywords=m%C3%BCller&qid=1574698635&s=dmusic&sprefix=m%C3%BCller%2Cdigital-music%2C155&sr=1-29">
                        {{ page.media['cover-he-jebore.jpg'].html('He jebore', 'He jebore', 'merchandise-content__product-cover-img') }}
                    </a>
                </div>
                <div class="merchandise-content__product-links">
                    <a rel="noopener" target="_blank" href="https://www.amazon.de/He-jebore-M%C3%BCller/dp/B081JY1X3Q/ref=sr_1_29?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1FIWS0ZWKVWBU&keywords=m%C3%BCller&qid=1574698635&s=dmusic&sprefix=m%C3%BCller%2Cdigital-music%2C155&sr=1-29">
                        {% include 'svg/amazon.html.twig' %}
                    </a>
                    <a rel="noopener" target="_blank" href="https://music.apple.com/de/album/he-jebore-single/1488074943">
                        {% include 'svg/apple-music.html.twig' %}
                    </a>
                    <a rel="noopener" target="_blank" href="https://open.spotify.com/album/7j5xA8KQpnkuTZklM532Ce?si=H2xKVN4WR-OTEC7XfX951A">
                        {% include 'svg/spotify.html.twig' %}
                    </a>
                </div>
            </div>
            <div class="merchandise-content__product">
                <div class="merchandise-content__product-cover">
                    <a rel="noopener" target="_blank" href="https://www.amazon.de/Steck-dir-ding-Sorje-aan/dp/B081K1W6LL/ref=sr_1_25?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1FIWS0ZWKVWBU&keywords=m%C3%BCller&qid=1574698635&s=dmusic&sprefix=m%C3%BCller%2Cdigital-music%2C155&sr=1-25">
                        {{ page.media['cover-sorje-neutral.jpg'].html('Steck’ Dir ding Sorje aan d’r Hot', 'Steck’ Dir ding Sorje aan d’r Hot', 'merchandise-content__product-cover-img') }}
                    </a>
                </div>
                <div class="merchandise-content__product-links">
                    <a rel="noopener" target="_blank" href="https://www.amazon.de/Steck-dir-ding-Sorje-aan/dp/B081K1W6LL/ref=sr_1_25?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1FIWS0ZWKVWBU&keywords=m%C3%BCller&qid=1574698635&s=dmusic&sprefix=m%C3%BCller%2Cdigital-music%2C155&sr=1-25">
                        {% include 'svg/amazon.html.twig' %}
                    </a>
                    <a rel="noopener" target="_blank" href="https://music.apple.com/de/album/steck-dir-ding-sorje-aan-dr-hot-single/1488074885">
                        {% include 'svg/apple-music.html.twig' %}
                    </a>
                    <a rel="noopener" target="_blank" href="https://open.spotify.com/album/1oWFR1tnP3rsev1Hq3SDOC?si=JgCydcYKTueInT8k44xpmQ">
                        {% include 'svg/spotify.html.twig' %}
                    </a>
                </div>
            </div>
            <div class="merchandise-content__product">
                <div class="merchandise-content__product-cover">
                    <a rel="noopener" target="_blank" href="https://www.amazon.de/Bad-K%C3%B6lle/dp/B081K1M4Y9/ref=sr_1_27?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1FIWS0ZWKVWBU&keywords=m%C3%BCller&qid=1574698635&s=dmusic&sprefix=m%C3%BCller%2Cdigital-music%2C155&sr=1-27">
                        {{ page.media['cover-bad-koelle-neutral.jpg'].html('Bad Kölle', 'Bad Kölle', 'merchandise-content__product-cover-img') }}
                    </a>
                </div>
                <div class="merchandise-content__product-links">
                    <a rel="noopener" target="_blank" href="https://www.amazon.de/Bad-K%C3%B6lle/dp/B081K1M4Y9/ref=sr_1_27?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1FIWS0ZWKVWBU&keywords=m%C3%BCller&qid=1574698635&s=dmusic&sprefix=m%C3%BCller%2Cdigital-music%2C155&sr=1-27">
                        {% include 'svg/amazon.html.twig' %}
                    </a>
                    <a rel="noopener" target="_blank" href="https://music.apple.com/de/album/bad-k%C3%B6lle-single/1488077584">
                        {% include 'svg/apple-music.html.twig' %}
                    </a>
                    <a rel="noopener" target="_blank" href="https://open.spotify.com/track/1xNNcmkKX8FZxdOnd1UtXj">
                        {% include 'svg/spotify.html.twig' %}
                    </a>
                </div>
            </div>
            <div class="merchandise-content__product">
                <div class="merchandise-content__product-cover">
                    <a rel="noopener" target="_blank" href="https://www.amazon.de/Dat-met-uns-2-M%C3%BCller/dp/B081JZ68GZ/ref=sr_1_2?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=dat+met+uns&qid=1574698574&sr=8-2">
                        {{ page.media['cover-dmu2.jpg'].html('Dat met uns 2', 'Dat met uns 2', 'merchandise-content__product-cover-img') }}
                    </a>
                </div>
                <div class="merchandise-content__product-links">
                    <a rel="noopener" target="_blank" href="https://www.amazon.de/Dat-met-uns-2-M%C3%BCller/dp/B081JZ68GZ/ref=sr_1_2?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=dat+met+uns&qid=1574698574&sr=8-2">
                        {% include 'svg/amazon.html.twig' %}
                    </a>
                    <a rel="noopener" target="_blank" href="https://music.apple.com/de/album/dat-met-uns-2-single/1488080376">
                        {% include 'svg/apple-music.html.twig' %}
                    </a>
                    <a rel="noopener" target="_blank" href="https://open.spotify.com/album/4Mjw9aMYGxcr1Qts4Cn61M?si=CeRyIDLqQ7K3B5i8ytGveA">
                        {% include 'svg/spotify.html.twig' %}
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/page/separator.html.twig' with {direction: 'left', color: 'tertiary'} %}
</div>
