<div class="snippet snippet--track">
    <div class="snippet__track-play" onclick="playAudioTrack({{ key }})">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
            <title>Play song</title>
            <path class="st0" d="M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M8,15.1c-3.9,0-7.2-3.2-7.2-7.1S4.1,0.9,8,0.9 s7.1,3.2,7.1,7.2S11.9,15.1,8,15.1z M6,4.5L12,8l-6,3.5V4.5z"/>
        </svg>
    </div>
    <div class="snippet__info">
        <h3 class="snippet__info-headline">{{ title is defined ? title : '' }}</h3>
        <div class="snippet__info-content">
            {{ text is defined ? text : '' }}
            {% if track is defined %}
                <div id="snippet-track-container-{{ key }}" class="snippet__info-content-audio">
                    {{ page.media[track].id('snippet-track-' ~ key).preload('none').autoplay(0).controlsList('nodownload') }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
